@font-face {
    font-family: "lobster";
    src: url("../fonts/lobster.woff");
  }
body{
    background-color: blanchedalmond;
    padding:7%;
}
img{
    margin:15px;
    border:3px solid sienna;
    padding:2px;
}
a{
    color: sienna;
}
a:hover{
    color: orange;
}

h1{
    text-align:center;
    text-decoration: underline;
    font-family: "lobster";
    letter-spacing: 0.5em;
    
}
h2{
    text-align:left;
    text-decoration: underline;
    font-family: "lobster";
    letter-spacing: 0.2em;
    
}

hr{
    border: 2px solid sienna;
    margin-left:10%;
    margin-right:10%;
}
div{
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
footer{
    text-align:right;
    font-size:small;
}
#pic1{
    float:left;
}
#pic2{
   float:right; 
}
#pic3{
    float:left;
}
#pic4{
    float:right; 
}
#pic5{
    float:left;
}